<div class="owl-carousel">
  <div class="item">
    <%= image_tag("slide1.png", size: "1050x650", alt: "Cure-EX", class: "slide") %>
  </div>

  <div class="item">
    <%= image_tag("slide2.png", size: "1050x650", alt: "Cure-EX2", class: "slide") %>
  </div>

  <div class="item">
    <%= image_tag("slide3.png", size: "1050x650", alt: "Cure-EX3", class: "slide") %>
  </div>
</div>



